@model OnlineForum.Models.Post

<div class="text-center">
    <h1 class="display-4">@ViewBag.Thread.Name</h1>
</div>

<div>
    <ul>
        @foreach (var post in ViewBag.Thread.Posts)
        {
            <p>@post.Content</p>
            <p>by @post.Creator.Username</p>
        }
    </ul>
</div>

<div class="container">
    @using (Html.BeginForm())
    {
        <div class="row">
            <div class="col-6 form-group">
                @Html.LabelFor(post => post.Content, new {@class = "control-label"})
                @Html.TextAreaFor(post => post.Content, new {@class = "form-control"})
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create Post</button>
    }
</div>