@model OnlineForum.Models.Thread

<div class="container">
    <div class="row">
        <p class="col-3">@Html.ActionLink("Board Overview", "BoardOverview", "Board")</p>
        <div class="text-center col-12">
            <h1 class="display-4 mb-4">@ViewBag.Board.Name</h1>
        </div>
    </div>

    <div>
        @foreach (var thread in ViewBag.Board.Threads)
        {
            <article class="row border p-4 my-4">
                <div class="col-9">
                    <p>@Html.ActionLink((string) thread.Name, "Thread", "Thread", new {threadId = thread.Id})</p>
                </div>
                <aside class="col-3">
                    <p>by @thread.Creator.Username</p>
                    <p>at @thread.CreatedAt</p>
                </aside>
            </article>
        }
    </div>
</div>

<div class="container">
    @using (Html.BeginForm("CreateThread", "Board", new {boardId = ViewBag.Board.Id}))
    {
        <div class="row">
            <div class="col-6 form-group">
                @Html.LabelFor(thread => thread.Name, new {@class = "control-label"})
                @Html.TextBoxFor(thread => thread.Name, new {@class = "form-control"})
            </div>
        </div>
        <button class="btn btn-primary" type="submit">Create Thread</button>
    }
</div>