@using Microsoft.AspNetCore.Identity
@model OnlineForum.Models.Board

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">

    <div class="text-center">
        <h1 class="display-4 mb-4">The Best Online Forum</h1>
    </div>

    <div class="border p-4">
            @foreach (var board in ViewBag.Boards)
            {
                <div class="mb-3">
                    <article class="row">
                        <div class="col-9">
                            <h4>@Html.ActionLink((string) board.Name, "BoardDetail", "Board", new {boardId = board.Id})</h4>
                            <p>Threads: @board.ThreadCount</p>
                        </div>
                        <aside class="col-3">
                            @if (board.LastThread != null)
                            {
                                <p>@Html.ActionLink((string) board.LastThread.Name, "Thread", "Thread", new {threadId = board.LastThread.Id})</p>
                                <p>by @Html.ActionLink( (string) board.LastThread.Creator.UserName, "UserDetails", "User", new {userId = board.LastThread.Creator.Id})</p>
                                <p class="mb-0">@board.LastThread.CreatedAt</p>
                            }
                        </aside>
                    </article>
                </div>
                <hr>
            }
    </div>

    @if (SignInManager.IsSignedIn(User))
    {
        var currentUser = await UserManager.GetUserAsync(User);

        var isAdmin = currentUser != null
                      && await UserManager.IsInRoleAsync(currentUser, "admin");

        @if (isAdmin)
        {
            @using (Html.BeginForm("CreateBoard", "Board"))
            {
                <div class="row">
                    <div class="col-4 form-group">
                        @Html.LabelFor(b => b.Name, new { @class = "control-label" })
                        @Html.TextBoxFor(b => b.Name, new { @class = "form-control" })
                    </div>
                </div>
                <button class="btn btn-primary" type="submit">Create Board</button>
            }
        }
    }
</div>